<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
    </ion-buttons> -->
    <ion-title>
      <img src="../../assets/icon/128px-Instagram_logo.svg.png">
    </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" color="dark" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" color="dark"name="heart-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" color="dark" name="send"></ion-icon>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://picsum.photos/200/300" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
</ion-content>
