<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="Button-image" name="Home" color="dark"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon class="Button-image"  name="search" color="dark"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="reels">
      <img class="Button-image"src="../../assets/icon/5948543.png"/>
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <img class="Button-image2"src="../../assets/icon/images.png"/>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person" color="dark"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
